@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}

.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  padding: 1rem;
  position: relative;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 25vw;
  transform: translate(-50%, -50%);
}

.card-title {
  background:  #2ecc71  ;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  text-transform: uppercase;

  font-size: 1.1rem;
  font-weight: bold;
  display: inline-block;
  position: absolute;
  top: -2rem;
  left: 6rem;
}
.card-title:hover{
  
  background: black;
  color: white;
}

.card-body {
  margin-top: 2rem;
}

.inputGroup {
  margin-bottom: 1rem;
}

label {
  font-size: 0.9rem;
}

input {
  border: none;
  padding: 0.5rem 0.1rem;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 2px;
  border-bottom: 1px solid #eee;
  transition: all 0.5s;
}

input:focus {
  border-bottom: 1px solid #ccc;
}

button {
  background:  #2ecc71 ;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 2px;
  width: 100%;
  text-transform: uppercase;
  cursor: pointer;
}
button:hover{
  background: black;
  color: white;
 
}

.chatrooms {
  margin-top: 1rem;
}

.chatroom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.join {
  background:  black ;
  font-size: 0.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 2px;
  cursor: pointer;
}
.join:hover{
  background: #2ecc71;
  color: black;
}

a {
  text-decoration: none;
  color: #333;
}
