.chat-container{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
  height: 70vh;
  overflow-y: scroll;
  margin: 0 auto !important;
  width: 50vw ;
  display: flex;
  flex-direction: column;
  align-items: center;


  align-content: center;
  justify-content: center;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.chat-container::-webkit-scrollbar {
  width: 12px;
}
.chat-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.chat-container::-webkit-scrollbar-thumb {
  background-color: #4998ff85;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.room-name{
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;

  color: black;
  text-align: center;
  font-size: 1.5rem;
  font-family: monospace;

}



.msg {
  text-align: left ;
  padding: 0.3em ;
  padding-left: 1.4em;
  padding-right: 1.4em;
  color: #fff ;
  width: 100% ;
  display: block ;
  border-radius: 4% ;
  margin-top: 2% ;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px !important;
}


 .userMsg {
  position: relative;
  right: 100%;
  align-self: flex-end !important;
  text-align: left !important;
  background-color: #B11313
}
 .diffMsg {
  position: relative;
  left: 100%;
  text-align: right !important;
  background-color:#2B3784;
}

.messages {
  display: flex !important;
  flex-direction: column !important;
  width: 99% !important;

}



@media only screen and (max-width: 600px) {
  .msg {
    width: 70% !important;
  }
}





.group-title{
  display: block;
  text-align: center;
  font-size: 1.5rem;
  background-color: whitesmoke;
  margin-top: 6%;
}
.group-title:hover{
  color: green
}
.send-message-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input { 
 width: 60%;

 text-align: center;
  padding: 1.6%;
   border: 1px rgba(0, 0, 0, 0.397) solid;
  border-radius: 2rem; font-size: larger;  }


  @media only screen and (max-width: 1000px) {
    .chat-container{
      width: 100vw;
      height: 66vh;
    }
  }


